<div class="square">

  <div class="topleft">
    {{content.topleft}}
  </div>

  <div class="topright">
    {{content.topright}}
  </div>


  <div class="bottomleft">
    {{content.bottomleft}}
  </div>

  <div class="bottomright">
    {{content.bottomright}}
  </div>
</div>